body {
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}
/**
**MAIN
**/

main{
    margin: 50px 0 0 0;
}


/**
**Project
**/
.containerProject {
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
    
}
.containerProject .containerArticleProject {
    border-radius: 7px;
    margin: 16px 0;
    
}
.containerProject .containerArticleProject .containerTextProject {
    padding: 13px;
}

.containerProject .containerArticleProject .containerTextProject p {
    color: #0F354DCC;
}



.containerProject .containerArticleProject .containerTextProject .bold {
    font-weight: 900;
}
.containerProject .containerArticleProject .containerTextProject .boldTextArticle {
    font-weight: 900;
    font-size: 22px;
    color: #0F354D;
}
.containerProject .containerTitleProject {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerProject .callToActionScan h3 {
    margin: 0;
    color: #0F354D;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 30px;
}
.containerProject .callToActionScan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerProject .callToActionScan .imgScan {
    background-image: url('../images/scan_logo_blue.svg');
    width: 126px;
    height: 126px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.containerProject .containerArticleProject .containerTextProject ul {
    margin: 0 10px ;
    list-style-type: "\1F44D";
    padding: 10px;
    color: #0F354DCC;
    
}

/** 
**Illustration Project
**/

.containerIllustrationSearch {
    margin: 24px;
}
.containerIllustrationSearch .illustrationSearch {
    width: 100%;
    height: 30vh;
    background: url('../images/illustrationProjectPage.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



