body {
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}
/**
**HEADER
**/
header {
    width: 100vw;
    height: 53px;
    background-color: #0F354D;
}
/**
**MAIN
**/

main{
    margin: 80px 0 0 0;
}

/**
**IdentyCard
**/


.containerCardMedic .cardMedic {
    margin: 10px 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.05);
    text-decoration: none;
}
.containerCardMedic .cardMedic .medic {
    padding: 7px;
}
.containerCardMedic .cardMedic .medic a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin: 5px;
    color: #0F354D;
    text-decoration: none;
}

.not-found{
    padding: 30px;
    background: #0F354D;
    color: #fff;
    border-radius: 7px;
    margin: 0 5vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

.image-not-found{
    background: url('../images/picture.svg');
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}