body{
    margin: 0;
    background: #F9F9F9;
}

/*MAIN SEARCH*/

.search{
  width: 100vw;
  height: 100%;
  margin: 70px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scan-zone{
  height: 370px;
  width: 280px;
  background: red;
  margin: 5px 0;
}

.search form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search p{
  margin: 0;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #0F354D;
}

.search input{
  margin: 10px;
  padding: 5px;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 5px #E6E6E6, 0px 0px 0px #E6E6E6, 0px 0px 0px #E6E6E6;
}
