body{
    margin: 0;
    padding: 0;
    position: relative;
}

.header{
    width: 100vw;
    height: 53px;
    background: #0F354D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.logo-header{
    margin: 0 12vw 0 12vw;
}

.navigation{
    width: 100%;
    height: calc(100vh - 53px);
    background: #0F354D;
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.navigation-list{
    width: 100vw;
    margin: 15vh 0;
    list-style: none;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.navigation-content{
    padding: 3vh 0 3vh 0;
}

.navigation-content a{
    text-decoration: none;
    color: #fff;
}

.scroll-menu-container{
    width: 50px;
    position: absolute;
    bottom: 10%;
    left: calc(50% - 24px);
    opacity: 0.4;
}

.is-appear{
    transform: translateX(100vw);
}

.overflow{
    overflow-y: hidden
}

main{
    margin: 80px 0;
}